.category-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: min(90%, 1000px);

    .title {
        color: black;
    }

    .preview {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 40px;
    }

    @media (max-width: 800px) {
        .preview {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media (max-width: 500px) {
        .preview {
            grid-template-columns: repeat(1, 1fr);
        }
    }

}