.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    box-shadow: 0 0 4px grey;

    .logo {
        height: 100%;
    }

    .menu-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;

        a {
            text-decoration: none;
            color: black;
        }
    }
}


