.cart-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    .cart-icon {
        width: 24px;
        height: 24px;
    }

    .cart-icon-count {
        position: absolute;
        top: 8px;
        font-size: 12px;
    }
}