.directory-container {
    display: flex;
    justify-content: center;
}

.directory-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: min(90%, 1000px)
}